No matter what we are doing we need to import a few packages.

In [2]:
# This header will be the same no matter what code you are using
# import modules that we will use multiple functions from and give them short names. 

import pandas as pd;
import numpy as np;
import seaborn as sb;
import matplotlib.pyplot as plt;


# import single functions

from scipy.stats.contingency import chi2_contingency;
from itertools import combinations;
from statsmodels.graphics.mosaicplot import mosaic;
from scipy.stats.contingency import chi2_contingency;
from scipy.stats import pearsonr;

In [4]:
addhealth_url = 'https://drive.google.com/uc?export=download&id=1fspbgVBu8p9-R4LnKTiohn9cR1IBRK_h'

# List the codebook and short names for the variables that we are going to use. 
vars = {
    #'VARCODE':'SHORTNAME',
    'H4GH11H':'TIME_SUGAR_HR',
    'H4GH11T':'TIME_SUGAR_AMPM',
}

myData = pd.read_csv(addhealth_url, usecols=vars.keys())

# Rename the variables

myData.rename(columns=vars,inplace=True)

# Next We will convert the time to 24 hour time.

In [5]:
myData

      TIME_SUGAR_HR  TIME_SUGAR_AMPM
0                 9                1
1                 2                2
2                11                1
3                 9                1
4                 9                1
...             ...              ...
5109              3                2
5110             11                1
5111              9                1
5112              1                2
5113              5                2

[5114 rows x 2 columns]

When we want to make changes to the data, we will make a function that takes a single row and changes the element based on certain conditions. To do this we will use our first conditional statement using `if` else logic. It's okay if you don't fully understand the code below, it will make more sense as we go along. (Time can be complicated)

In [ ]:
def mil_time(row):
  if 1 <= row['time_sugar_hr'] <= 11:
    if row['time_sugar_ampm'] == 1:
      return row['time_sugar_hr']
    elif row['time_sugar_ampm'] == 2:
      return row['time_sugar_hr'] + 12
    else:
      return np.nan
  elif row['time_sugar_hr'] == 12:
    if row['time_sugar_ampm'] == 1:
      return 0
    elif row['time_sugar_ampm'] == 2:
      return 12
    else:
      return np.nan
  else:
    return np.nan

Now let's apply this to each row of our data set and save our result into a new variable.

In [ ]:
myData['time_sugar_mt'] = myData.apply(mil_time,axis=1)

Now looking at our data let's check out the new time of day.

In [ ]:
myData

      time_sugar_hr  time_sugar_ampm  time_sugar_mt
0                 9                1            9.0
1                 2                2           14.0
2                11                1           11.0
3                 9                1            9.0
4                 9                1            9.0
...             ...              ...            ...
5109              3                2           15.0
5110             11                1           11.0
5111              9                1            9.0
5112              1                2           13.0
5113              5                2           17.0

[5114 rows x 3 columns]

Note how I have left the minutes out because it adds one more level of complexity. Most research questions that we will deal with wont need precision down to the minute.